/*   
	version:  1.0
	author:   Raul Garcia
	date: 	  20150626
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/***************************** 
      ClearFix
*******************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

#header {
	max-width:960px;
	min-height:60px;
	margin:0 auto;
	margin-bottom: 15px;
	margin-top:15px;
}

#header #logo {
	float: left;
	width:20.2%;
	height:60px;
	margin-right:1.8%;
}


#header #menu {
	float: left;
	width:78%;
	height: 60px;
	border-radius: 20px;
	background-color: #0099CC;
}

#header #menu .lista_menu  {
	list-style-type: none;
	padding: 3%;
	padding-left: 2%;}

#header #menu .lista_menu li span {
	float: left;
	margin-left: 2%;
	color: white;
}

main {
	max-width:960px;
	margin:0 auto;
	min-height:400px;
	margin-bottom: 15px;
}

main .sidebar {
	float: left;
	width: 20%;
	min-height:400px;
	margin-right:2%;
}

main .gris  {
	background-color: #E9E9E9;
	border-radius: 12px;
	padding: 5%;
	margin-bottom: 10px;
	color: #0099CC;}

main #content {
	float:left;
	width: 56%;
	margin-right: 2%;
	min-height:400px;
}

main #content .partir {
	float: left;
	width:48.5%;
	min-height: 400px;
	margin-right: 3%;
}

main #content .rectangulo {
	width: 100%;
	min-height: 125px;
	margin-bottom: 15px;
	border-radius: 20px;
}

main #content .cuadrado {
	width: 100%;
	min-height: 265px;
	border-radius:20px;
}

#wrapper_footer {
	width:100%;
	min-height:30px;
	background-color: #DDD;
	margin-bottom: 15px;
}

#footer {
	max-width:960px;
	min-height:30px;
	margin: 0 auto;
	padding-top: 1%;
	background-color: #F0F0F0;
	text-align: center;
}

.newsletter {
	background-color: #0099CC !important;
	color:white !important;
}

.img_cent  {
	width: 100%;
	height: auto;
}

.mr0 {margin-right:0 !important;}
.mb0 {margin-bottom:0 !important;}

.granate {background-color: #9A3334;}
.azul {background-color: #00CCFF;}
.naranja {background-color: #FF6600;}
.cacahuete{background-color: #CDCC02;}
.col_gris {background-color: #F0F0F0;}

/*   
	version:  1.0
	author:   Mikel Alonso
	date: 	  20150625
		
*/

/*
   RESET    
   Resetear todos los estilos para cualquier navegador
   
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************ FIN RESET ****************/  



/********************* 
      ClearFix
***********************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}



/*********************
		LAYOUTS
*********************/

#header, #content, #footer { min-height: 60px;}
#header, #content, #footer { width: 960px; margin:0 auto; margin-bottom: 0.5%;}


#header { 
	background-color: #c0c0c0;
	overflow: hidden;
	margin-top: 1%;
}

#content { 
	background-color: #808080;
	overflow: hidden;
}

#footer { 
	background-color: #DDD;
	width: 100%;
	overflow: hidden;
}

#logo { 
	background-color: blue; 
	width: 18%;
	height: 65px;
	margin-right: 1%;
	float: left;
}

#nav { 
	background-color: #0099CC; 
	width: 81%;
	height: 65px;
	float: left;
}

#nav li{
	color: white;
	font-family: verdana;
	font-size: 0.8em;
	float: left;
	margin-top: 25px;
 	margin-right: 10px;
  	margin-bottom: 25px;
  	margin-left: 10px;
	
}
	
#izq {
	background-color: #008080; 
	width: 18%;
	height: 450px;
	margin-right: 1%;
	float: left;
	overflow: hidden;
}

#izq li{
	background-color: #E9E9E9;
	font-family: verdana;
	font-size: 0.7em;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
	padding: 5px;
  	border-radius: 12px;
}

#dch li{
	background-color: #E9E9E9;
	font-family: verdana;
	font-size: 0.7em;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
	padding: 5px;
  	border-radius: 12px;
}
	
#centro {
	background-color: #7fffd4; 
	width: 62%;
	height: 450px;
	margin-right: 1%;
	float: left;
	overflow: hidden;
}

#dch {
	background-color: #808000;
	width: 18%;
	height: 450px;
	float: left;
	overflow: hidden;
}


#col1 {
	background-color: #00ced1;
	width: 49%;
	margin-right: 2%;
	height: 450px;
	float: left;
	overflow: hidden;
}

#col2 {
	background-color: #00bfff;
	width: 49%;
	height: 450px;
	float: left;
	overflow: hidden;
}

.cuadro1 {
	background-color: red;
	width: 100%;
 	height: 32.5%;
 	margin-bottom: 3.5%;
 	overflow: hidden;
}

.cuadro2 {
	background-color: red;
	width: 100%;
	height: 66%;
	overflow: hidden;
}

.mb0 {
	margin-bottom: 0;
}

