/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150610
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");


/***************************** 
      ClearFix
*******************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/*  LAYOUTS  */
  
body {
	bg-color: #FFF;
	font-family: arial;
}

#head960, #wrapper_menu, #menu960, #content960, #footer960{ min-height:100px; }
#wrapper_menu{ width:100%; background-color: black; }
#head960, #menu960, #content960, #footer960{ width:960px; margin: 0 auto; }

#head960{ background-color:red; }
#menu960{ background-color:blue; }
#content960{ background-color:green; }
#footer960{ background-color:pink; }

/*
	#head_izda, #head_centro, #head_dcha{
		background-color:lime; 
		width: 33%;
	}
	
	#head_centro{
		background-color:navy; 
		width: 33%;
	}
	
	#head_dcha{
		background-color:silver; 
		width: 33%;
	}
*/

#dl_menu{
	display: none;
}

#seccion_alta{
	float:left;
	background-color:lime;
	/*width: 240px;*/
	min-height: 240px;
}

#seccion_central{
	float:left;
	background-color:navy;
	width: 480px;
	min-height: 460px;
}

#seccion_baja{
	background-color:silver; 
	width: 240px;
	min-height: 240px;
}

.box_1x1{
	background-color: yellow;
	float: left;
	width: 220px;
	min-height: 220px;
}

.box_2x1{
	background-color: brown;
	float: left;
	width: 440px;
	min-height: 220px;
}
	
.box_1x2{
	background-color: grey;
	float: left;
	width: 220px;
	min-height: 440px;
}

#seccion_alta div:first-child{ /*Al primer hijo*/
	margin-left:20px;
	margin-right:20px;
}

#seccion_alta div:nth-child(2n+0){ /*A los hijos pares. Cada dos*/
	margin-right:20px;
}

#seccion_alta div:last-child{ /*Al último hijo*/
	margin-right:20px;
}



